<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Monster Slayer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div id="game-container" class="container-fluid">
        <div v-show="gameStarted" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            The Game is started!
          </div>

        <h1 class="text-center mt-3">The Monster Slayer</h1>

        <!-- Game Start Button -->
        <button v-if="!gameStarted" v-on:click="startGame()" class="btn btn-outline-success d-block mx-auto mt-3">Start New Game</button>

        <!-- Players -->
        <div v-if="gameStarted" class="row d-flex justify-content-around my-4">
            <div class="col-4 row">
                <h4 class="col-12 text-center">Player</h4>
                <img src="https://i.pinimg.com/originals/f8/52/5e/f8525e858e75371eff0a99a683341e03.jpg" class="img-fluid my-3 mx-auto" width="50%" />
                <div class="progress col-12 px-0">
                    <div class="progress-bar bg-danger" role="progressbar" v-bind:style="{width: playerBlood + '%'}" v-bind:aria-valuenow="playerBlood" aria-valuemin="0" aria-valuemax="100">{{playerBlood}}</div>
                </div>
            </div>
            <div class="col-4 row">
                <h4 class="col-12 text-center">Monster</h4>
                <img src="https://i.neoseeker.com/ca/pandoras_tower_conceptart_lrU3L.jpg" class="img-fluid bg-white my-3 mx-auto" width="50%" />
                <div class="progress col-12 px-0">
                    <div class="progress-bar bg-danger" role="progressbar" v-bind:style="{width: monsterBlood + '%'}" v-bind:aria-valuenow="monsterBlood" aria-valuemin="0" aria-valuemax="100">{{monsterBlood}}</div>
                </div>
            </div>
        </div>
        
        <!-- Game Control Panel -->
        <div v-if="gameStarted" class="border rounded row d-flex justify-content-around mx-2">
            <button class="btn btn-outline-danger col-md-2 my-3 mx-2" v-on:click="attack()">Attack</button>
            <button class="btn btn-outline-warning col-md-2 my-3 mx-2" v-on:click="specialAttack()">Special Attack</button>
            <button class="btn btn-outline-success col-md-2 my-3 mx-2" v-on:click="heal()">Heal</button>
            <button class="btn btn-outline-info col-md-2 my-3 mx-2" v-on:click="giveUp()">Give Up</button>
        </div>

        <!-- Game Action Log -->
        <div v-show="gameStarted && gameRounds > 0" id="log" class="border rounded row mt-3 mx-2 overflow-auto" style="max-height:18em;"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="../../vue.js"></script>
    <script src="app.js"></script>

    <script>
        $(document).ready(function() {
            // show the alert
            setTimeout(function() {
                $(".alert").alert('close');
            }, 2000);
        });
    </script>
</body>
</html>